*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(10, 10, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}


.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    position: relative;
    transition: .3s;
    position: absolute;
    top: 40px;
    left: 50px;
  }
  
  .btn-class-name .back {
    background-color: goldenrod;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .btn-class-name .front {
    background-color: goldenrod;
    box-shadow: 0 .5em 1em -0.2em goldenrod;
    border-radius: 100%;
    position: absolute;
    border: 1px solid black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
  }
  
  .btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
  }


.card-1 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 150px;
    left: 15%;
    z-index: 10;
    cursor: pointer;
    img{
        height: 70%;
        width: 100%;
    }
    h1{
        color: black;
        position: absolute;
        top: 75%;
        left: 27%;
    }
    h2{
        color: goldenrod;
        position: absolute;
        top: 85%;
        left: 18%;
    }
}

.card-2{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 150px;
    left: 40%;
    z-index: 10;
    cursor: pointer; 
    img{
        height: 70%;
        width: 100%;
    }
    h1{
        color: black;
        position: absolute;
        top: 75%;
        left: 20%;
    }
    h2{
        color: goldenrod;
        position: absolute;
        top: 85%;
        left: 19%;
    }
}

.card-3{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 150px;
    left: 65%;
    z-index: 10;
    cursor: pointer;
    img{
        height: 70%;
        width: 100%;
    }
    h1{
        color: black;
        position: absolute;
        top: 75%;
        left: 25%;
    }
    h2{
        color: goldenrod;
        position: absolute;
        top: 85%;
        left: 17%;
    }
}
 .card-1:hover{
    transform: translateY(-10%);
    scale: 1.05;
 }
 .card-2:hover{
    transform: translateY(-10%);
    scale: 1.05;
 }
 .card-3:hover{
    transform: translateY(-10%);
    scale: 1.05;
 }



